nav[aria-label="breadcrumb"] li, nav[aria-label="breadcrumb"] a{
    color: white!important;
    font-size: 16px;
    font-weight: 600
}
.breadcrumb{
    background-color: initial
}
.my-banner-top{
    background-image: url('../../images/page-banner-bg.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-color: gainsboro;
    height: 15em;
    color: white;
    padding-top: 3%
}
  .my-item-page-viewall>div:first-child>div {
    display: none!important;
}
.my-item-page-viewall h5{
    font: 13px;
    opacity: 0.6
}
.my-item-page-viewall>div:last-child {
    border-top: 1px solid #eaeaea;
    padding: 1em 0;
    background-color: white;
}
.my-item-page-viewall> div:last-child div {
    border: 1px solid gray;
    border-radius: 98px 98px 98px 98px;
    -moz-border-radius: 98px 98px 98px 98px;
    -webkit-border-radius: 98px 98px 98px 98px;
    width: 60%;
    padding: 5px;
    margin: 1em auto;
    color: #dd5209;
    font-weight: 600;
}
.carousel-control-next, .carousel-control-prev{
       opacity: 0.5;
        background: gray;
        width: 5em
    }
.my-detail-item-dat-mua{
    background-color: #000;
    opacity: 0.8
    
}

/*====================reponsive*======================= */
@media (min-width: 992px) { 
   nav[aria-label="breadcrumb"]{
    width: 25%;
    margin: 0 auto;
}
    .my-detail-item-img{
       width: 50%;
    margin: 0 auto;
    }
    .my-detail-item-img> div{
        margin-right: 10px;
        cursor: pointer;
        opacity: 0.2;
    }
    .carousel-indicators .active{
        opacity: 1;
        border: 1px solid #000
    }
    .carousel-control-next, .carousel-control-prev{
        top: 92.5%;
        height: 5%;
        background: red;
        width: 5em
    }
    .carousel-control-next{
        right: 10%
    }
    .carousel-control-prev{
        left: 10%
    }
    .my-detail-item-dat-mua{
        width: 25%;background-color: #000;position: absolute;top: 50%;
    right: 30px;opacity: 0.8
    }
    .my-circle-detail-item{
            width: 80px;
    height: 80px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    --border-radius: 25px;
    border-radius: 80px;
    padding-top: 1.4em;
    padding-left: 1.7em;
    border: 1px solid #000;
    }
    .my-hover-modaldetail-item:hover .my-circle-detail-item{
        color: white;
        background: black
    }
  
    .my-item-page-viewall>div:first-child>div {
    position: absolute;
    top: 0;
    background: #000;
    width: 100%;
    height: 100%;
    color: white;
    opacity: 0.8;
    padding-top: 25%;
    padding-left: 20%;
}
.my-item-page-viewall:hover .my-ll{
    display: flex!important;
    }
    .my-item-page-viewall>div:first-child>div div{
        border: 1px solid white;
        height: 2em;
        padding: 5px 10px;
        margin-right: 10px;
    }
    
}